@media (max-width: 1300px){
    .header{
        flex-direction: column;
        padding: 0;
    }
    .header input{
        width: 100%;
    }
}
@media (max-width: 700px){
    html{
        font-size: 70%;
    }
}
@media (max-width: 300px){
    html{
        font-size: 55%;
    }
}